@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@900&display=swap');
 


.main-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bg-video-container{
    height: 150%;
    width: 150%;
    position: absolute;
    left: -20%;
    top: -37%;
    overflow: hidden;
    z-index: -100;
}

.link-to-main {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 20% 100px 200px 70%;    
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    letter-spacing: 4px;
    color: #183b73;
    background: none;
    font-weight: bolder;
}

.button {
    min-width: 150px;
    min-height: 50px;
    font-family: 'Open Sans', sans-serif;
    color: #183b73;
    border-color: #183b73;
    font-weight: bolder;
    border-width: 2px;
    letter-spacing: 5px;
    background: none;
    text-transform: uppercase;
    border-radius: 1000px;
}

.links {
    text-decoration: none;
    justify-content: center;
    margin-left: 1%;
    margin-top: 1%;
    z-index: 30;
}