html,body{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.div {
  text-align: center;
  position: absolute;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 100%;
}
  
.bg-video{
  height: 140%;
  width: 130%;
  position: absolute;
  top: -35%;
  left: -20%;
  overflow: hidden;
  z-index: -100;
}